{% extends './community' %}

{% block 'tab-content' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">

            <!-- TWITCH -->
            <h2 id="twitch">Twitch</h2>
            {{ successMessage(twitchSuccessMessage) }}

            <form class="form-horizontal" action="/admin/{{communityUserModel.communityModel.name}}/manage-channel">
                <input type="hidden" name="channelId" value="{{twitchChannel.id}}"/>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Status</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">{{twitchChannelStatus? 'Running' : 'Stopped'}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Actions</label>
                    <div class="btn-group col-sm-9" role="group">
                        <button type="submit" class="btn btn-sm btn-success" name="action" value="start">Start</button>
                        <button type="submit" class="btn btn-sm btn-danger" name="action" value="stop">Stop</button>
                        <button type="submit" class="btn btn-sm btn-warning" name="action" value="restart">Restart</button>
                    </div>
                </div>
            </form>

            <form class="form-horizontal" action="/admin/{{communityUserModel.communityModel.name}}/twitch" method="POST">

                <fieldset disabled>
                    <div class="form-group">
                        {{ label('pointsOnline', 'Channel') }}
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="channel" id="channel" value="{{twitchChannel.getSetting('channel')}}">
                        </div>
                    </div>

                    <div class="form-group">
                        {{ label('botCustomUsername', 'Custom bot username') }}
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="botCustomUsername" id="botCustomUsername" placeholder="Coming Soon">
                            <span class="help-block">Leave blank to use the default <code>SeniorCommander</code> username.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ label('botCustomPassword', 'Custom bot OAuth token') }}
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="botCustomPassword" id="botCustomPassword" placeholder="Coming Soon">
                            <span class="help-block">Generate an OAuth token <a href="https://twitchapps.com/tmi/">here</a> <small><span class="glyphicon glyphicon-new-window"></span></small>.</span>
                        </div>
                    </div>

                    {{ submit() }}
                </fieldset>
            </form>

            <!-- DISCORD -->
            <h2 id="discord">Discord</h2>
            {{ successMessage(discordSuccessMessage) }}

            <form class="form-horizontal" action="/admin/{{communityUserModel.communityModel.name}}/manage-channel">
                <input type="hidden" name="channelId" value="{{discordChannel.id}}"/>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Status</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">{{discordChannelStatus? 'Running' : 'Stopped'}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Actions</label>
                    <div class="btn-group col-sm-9" role="group">
                        <button type="submit" class="btn btn-sm btn-success" name="action" value="start">Start</button>
                        <button type="submit" class="btn btn-sm btn-danger" name="action" value="stop">Stop</button>
                        <button type="submit" class="btn btn-sm btn-warning" name="action" value="restart">Restart</button>
                    </div>
                </div>
            </form>

            <form class="form-horizontal" action="/admin/{{communityUserModel.communityModel.name}}/discord" method="POST">

                <fieldset disabled>
                    <div class="form-group">
                        {{ label('guild', 'Guild') }}
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="guild" id="guild" value="{{discordChannel.getSetting('guild')}}">
                        </div>
                    </div>

                    <div class="form-group">
                        {{ label('discordChannel', 'Channel') }}
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="discordChannel" id="discordChannel" value="{{discordChannel.getSetting('channel')}}" placeholder="Coming Soon">
                        </div>
                    </div>

                    {{ submit() }}
                </fieldset>
            </form>

            <!-- POINTS -->
            <h2 id="points">Points</h2>
            <form class="form-horizontal" action="/admin/{{communityUserModel.communityModel.name}}/points" method="POST">
                {{ successMessage(pointsFormSuccessMessage) }}

                <div class="form-group {{ hasFieldErrors('pointsForm', 'pointsOnline')? 'has-error' : ''}}">
                    {{ label('pointsOnline', 'Points per minute while online') }}
                    <div class="col-sm-9">
                        <input type="number" class="form-control" name="pointsOnline" id="pointsOnline"
                               value="{{pointsOnline | default(10)}}">
                        {{ fieldErrors(getFieldErrors('pointsForm', 'pointsOnline')) }}
                        <span class="help-block">Between 0 and 100.</span>
                    </div>
                </div>

                <div class="form-group {{ hasFieldErrors('pointsForm', 'pointsPlural')? 'has-error' : ''}}">
                    {{ label('pointsPlural', 'Name of points') }}
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="pointsPlural" id="pointsPlural"
                               value="{{pointsPlural | default('Points')}}">
                        {{ fieldErrors(getFieldErrors('pointsForm', 'pointsPlural')) }}
                        <span class="help-block">This affects leaderboard and bot messages but not the <code>!points</code> command; use an alias for a custom command.</span>
                    </div>
                </div>

                {{ submit() }}
            </form>

        </div> <!-- end col-md-9 -->

        <div class="col-md-3">
            <!--
            <nav class="hidden-sm affix" data-spy="affix">
                <ul class="nav">
                    <li><a href="#dashboard">Dashboard</a></li>
                    <li><a href="#twitch">Twitch</a></li>
                    <li><a href="#discord">Discord</a></li>
                    <li><a href="#points">Points</a></li>
                </ul>
            </nav>
            -->
        </div>
    </div>
</div>
{% endblock %}


{% macro label(fieldName, label) %}
<label for="{{fieldName}}" class="col-sm-3 control-label">{{label}}</label>
{% endmacro %}

{% macro successMessage(message) %}
    {% if message is not null %}
    <p class="bg-success">{{message}}</p>
    {% endif %}
{% endmacro %}

{% macro submit() %}
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>
{% endmacro %}

{% macro fieldErrors(errors) %}
    {% if errors is not null %}
    <span class="help-block">
        <ul>
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
    </span>
    {% endif %}
{% endmacro %}