{% extends '../two-columns' %}

{% block 'primary-content' %}
<div class="page-header">
    <h1>{{ communityUserModel.communityModel.name }}</h1>
</div>

{% set communityName = communityUserModel.communityModel.name %}
<ul class="nav nav-tabs">

    <li role="presentation" class="{{activeTab == 'dashboard'? 'active' : ''}}"><a
            href="/{{communityName}}/dashboard">Dashboard</a></li>

    <li role="presentation" class="{{activeTab == 'leaderboard'? 'active' : ''}}"><a
            href="/{{communityName}}/leaderboard">Leaderboard</a></li>

    <li role="presentation" class="{{activeTab == 'quotes'? 'active' : ''}}"><a
            href="/{{communityName}}/quotes">Quotes</a></li>

    <li role="presentation" class="{{activeTab == 'commands'? 'active' : ''}}"><a
            href="/{{communityName}}/commands">Commands</a></li>

    {% if hasOwnerAccess %}
        <li role="presentation" class="{{activeTab == 'timers'? 'active' : ''}}"><a
                href="/{{communityName}}/timers">Timers</a></li>

        <li role="presentation" class="{{activeTab == 'log'? 'active' : ''}}"><a
                href="/{{communityName}}/log">Chat Log</a></li>

        <li role="presentation" class="{{activeTab == 'admin'? 'active' : ''}}"><a
                href="/{{communityName}}/admin">Admin</a></li>
    {% endif %}
</ul>


{% block 'tab-content' %}{% endblock %}

{% endblock %}