{% extends './grid' %}

{% block 'table' %}
    <tr>
        {{ header(page, 'Name', 'name') }}
        {{ header(page, pointsPlural, 'points') }}
        {{ header(page, 'Member Since', 'firstSeen') }}
        {{ header(page, 'Last Chatted', 'lastChatted') }}
    </tr>
    {% for user in page %}
        <tr>
            <th>{{user.name}}</th>
            <td>{{user.points}}</td>
            <td>{{user.firstSeen | utc('YYYY-MM-D')}}</td>
            <td>{{user.lastChatted | utc('YYYY-MM-D')}}</td>
        </tr>
    {% endfor %}
{% endblock %}