{% extends './grid' %}

{% block 'table' %}
    <tr>
        {{ header(page, 'User', 'communityUserModel') }}
        {{ header(page, 'Message', 'message') }}
        {{ header(page, 'Channel', 'channel') }}
        {{ header(page, 'Date', 'date') }}
    </tr>

    {% for log in page %}
    <tr>
        <th>{{log.communityUserModel.name}}</th>
        <td>{{log.message}}</td>
        <td>{{log.channel.type}}</td>
        <td>{{log.date | date('yyyy-MM-dd h:m:s a')}}</td>
    </tr>
    {% endfor %}

{% endblock %}