{% extends './legal' %}

{% block 'primary-content' %}
<h1>Terms of Service</h1>
<p>
    <strong>Last Updated: 2016-10-10</strong>
</p>

<h2>1. Terms</h2><p>By accessing SeniorCommander ("the SeniorCommander Service", "the Site") consisting of the web site
    available at the
    URL https://seniorcommander.com and all related services, software applications and networks operated by
    SeniorCommander ("us",
    "we", or "our"), including, but not limited to, visiting, registering for, downloading from, browsing the Site or
    contributing content or other materials to the SeniorCommander Service, you acknowledge that you have read,
    understood and
    agreed to be bound by these Terms and Conditions of Use, all applicable laws and regulations, and agree that you are
    responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are
    prohibited from using or accessing the SeniorCommander Service. The materials contained through the SeniorCommander
    Service are
    protected by applicable copyright and trademark law.</p><p>If you are using or accessing the SeniorCommander Service
    on
    behalf of a company, entity, or organization (collectively, a "subscribing organization") then you represent and
    warrant that you:
<ol>
    <li>are an authorized representative of that subscribing organization with the authority to bind such organization
        to these Terms and Conditions of Use;
    </li>
    <li>have read these Terms and Conditions of Use;</li>
    <li>understand these Terms and Conditions of Use; and</li>
    <li>agree to these Terms and Conditions of Use on behalf of such subscribing organization.</li>
</ol></p>
<h2>2. Third Parties</h2>
<p>The SeniorCommander Service may encompass other services, networks or applications that
    SeniorCommander do not control ("Third Parties") By agreeing to the SeniorCommander Service's Terms and Conditions
    of Use, you
    acknowledge that you have agreed to be bound by any Terms and Conditions of Use of these Third Parties as well, and
    that you are liable for any damages (including, without limitation, damages for loss of data or profit, or due to
    business interruption,) arising out of the use or inability to use the materials through these Third Parties.</p>
<h2>3. Use License</h2>
<ol>
    <li>Permission is granted, on a non-sublicensable license, to temporarily access and use the SeniorCommander Service
        for
        personal or internal business use only. This is the grant of a license, not a transfer of title, and under this
        license you may not:
        <ol>
            <li>modify or copy the materials;</li>
            <li>use the materials for any commercial purpose, or for any public display (commercial or
                non-commercial);
            </li>
            <li>attempt to decompile or reverse engineer any software contained on the SeniorCommander Service;</li>
            <li>attempt to use any data mining, robots or similar data gathering or extraction methods;</li>
            <li>remove any copyright or other proprietary notations from the materials; or</li>
            <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
        </ol>
    </li>
    <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by
        SeniorCommander at any time. Upon terminating your viewing of these materials or upon the termination of this
        license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
    </li>
</ol>
<h2>4. Disclaimer</h2>
<ol>
    <li>The materials on the SeniorCommander Service are provided "as is". SeniorCommander makes no warranties,
        expressed or
        implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties
        or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property
        or other violation of rights. Further, SeniorCommander does not warrant or make any representations concerning
        the
        accuracy, likely results, or reliability of the use of the materials on the SeniorCommander Service or otherwise
        relating
        to such materials or on any sites linked to or from the SeniorCommander Service.
    </li>
</ol>
<h2>5. Limitations</h2><p>In no event shall SeniorCommander or its suppliers be liable for any damages (including,
    without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or
    inability to use the materials on the SeniorCommander Service, even if SeniorCommander or a SeniorCommander
    authorized
    representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions
    do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages,
    these limitations may not apply to you.</p><h2>6. Revisions and Errata</h2><p>The materials appearing on the
    SeniorCommander
    Service could include technical, typographical, or photographic errors. SeniorCommander does not warrant that any of
    the materials on the SeniorCommander Service are accurate, complete, or current. SeniorCommander may make changes to
    the
    materials contained on the SeniorCommander Service at any time without notice. SeniorCommander does not, however,
    make any
    commitment to update the materials.</p><h2>7. Third Party Content</h2><p>SeniorCommander has not reviewed all the
    third
    party content from the SeniorCommander Service and is not responsible for the contents of any such third party
    (collectively
    "Third Party Content"). SeniorCommander does not control, endorse or adopt any Third Party Content and makes no
    representation or warranties of any kind regarding the Third Party Content, including without limitation regarding
    its accuracy or completeness. Accessing Third Party Content (including, but not limited to, the use of Third Party
    Content) is at the user's own risk.</p><h2>8. Rights in User Content</h2><p>The SeniorCommander Service may include
    areas or
    services in which you or other users may create, post or store items or materials on the SeniorCommander Service
    ("User
    Content"). If you submit or post User Content you grant SeniorCommander a worldwide, nonexclusive, royalty-free,
    perpetual, irrevocable and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create
    derivative works from, distribute, perform and display such User Content in any form, format, media or media
    channels now known or hereafter developed or discovered. You grant SeniorCommander and our sublicensees the right to
    use the name that you submit in connection with such content, if we or they choose.</p><p>By submitting or posting
    User Content to the SeniorCommander Service, you represent and warrant that:
<ol>
    <li>such User Content is non-confidential;</li>
    <li>you own and control all of the rights to the User Content that you post or you otherwise have all necessary
        rights to post such User Content to the SeniorCommander Service;
    </li>
    <li>the User Content is accurate and not misleading or harmful in any manner; and</li>
    <li>the User Content, and your use and posting thereof in connection with the SeniorCommander Service, does not and
        will not
        violate these Terms of Service or any applicable law, rule or regulation.
    </li>
</ol></p><p>In addition you acknowledge and agree that:
<ol>
    <li>SeniorCommander is not responsible for User Content nor Third Party Content on the SeniorCommander Service nor
        under any
        obligation to monitor, move, remove, edit, refuse to upload, post, or otherwise transmit content or material, or
        disable access to it; and
    </li>
    <li>User Content and Third Party Content on the SeniorCommander Service is a means of public (not private)
        communication and
        SeniorCommander may disclose the identity, origin, user data or other information in relation to any User
        Content,
        Third Party Content or materials on the SeniorCommander Service for the purpose of, but not limited to,
        co-operating with
        law enforcement authorities in any jurisdiction or complying with any lawful direction or request to do so.
    </li>
</ol></p>
<h2>9. Prohibited Conduct</h2><p>You agree that you will abide by these Terms and Conditions of Use and will
    not:
<ol>
    <li>post, upload, or distribute any defamatory, libelous, or inaccurate Content;</li>
    <li>impersonate any person or entity, falsely claim an affiliation with any person or entity, or access the
        SeniorCommander
        Service as another person or entity without permission, forge another persons’ digital signature, misrepresent
        the source, identity, or content of information transmitted via the SeniorCommander Service, or perform any
        other similar
        fraudulent activity;
    </li>
    <li>make unsolicited offers, advertisements, proposals, or send junk mail or spam to other Users of the
        SeniorCommander
        Service or its Third Parties, including, without limitation, unsolicited advertising, promotional materials, or
        other solicitation material, bulk mailing of commercial advertising, chain mail, informational announcements,
        charity requests, petitions for signatures, or any of the foregoing related to promotional giveaways (such as
        raffles and contests), and other similar activities;
    </li>
    <li>defame, harass, abuse, threaten or defraud Users of the SeniorCommander Service or its Third Parties, or
        collect, or
        attempt to collect, personal information about Users or third parties without their consent;
    </li>
    <li>remove, circumvent, disable, damage or otherwise interfere with security-related features of the SeniorCommander
        Service
        or Content, features that prevent or restrict use or copying of any content accessible through the
        SeniorCommander
        Service, or features that enforce limitations on the use of the SeniorCommander Service or Content;
    </li>
    <li>reverse engineer, decompile, disassemble or otherwise attempt to discover the source code of the SeniorCommander
        Service
        or any part thereof, except and only to the extent that such activity is expressly permitted by applicable law
        notwithstanding this limitation;
    </li>
    <li>intentionally interfere with or damage operation of the SeniorCommander Service or any user’s enjoyment of them,
        by any
        means;
    </li>
    <li>interfere with or disrupt the SeniorCommander Service or servers or networks connected to the SeniorCommander
        Service, or disobey
        any requirements, procedures, policies or regulations of networks connected to the SeniorCommander Service;
    </li>
    <li>use the SeniorCommander Service in any manner that could interfere with, disrupt, negatively affect or inhibit
        other
        users from fully enjoying the SeniorCommander Service, or that could damage, disable, overburden or impair the
        functioning of the SeniorCommander Service in any manner;
    </li>
    <li>attempt to indicate in any manner that you have a relationship with SeniorCommander or that we have endorsed you
        or
        any products or services for any purpose.
    </li>
</ol>Further, you agree not to create, post, upload, transmit, distribute, store or otherwise publish any of the following User Content through the SeniorCommander Service:
<ol>
    <li>Content that would constitute, encourage or provide instructions for a criminal offense, violate the rights of
        any party, or that would otherwise create liability or violate any local, state, national or international law
        or regulation;
    </li>
    <li>Content that may infringe any patent, trademark, trade secret, copyright or other intellectual or proprietary
        right of any party. By posting any Content, you represent and warrant that you have the lawful right to
        distribute and reproduce such Content;
    </li>
    <li>Content that is unlawful, libelous, defamatory, obscene, pornographic, indecent, lewd, suggestive, harassing,
        threatening, invasive of privacy or publicity rights, abusive, inflammatory, fraudulent or otherwise
        objectionable;
    </li>
    <li>Content that impersonates any person or entity or otherwise misrepresents your affiliation with a person or
        entity;
    </li>
    <li>private information of any third party, including, without limitation, addresses, phone numbers, email
        addresses, Social Security numbers and credit card numbers;
    </li>
    <li>viruses, corrupted data or other harmful, disruptive or destructive files; and</li>
    <li>Content that, in the sole judgment of SeniorCommander, is objectionable or which restricts or inhibits any other
        person from using or enjoying the SeniorCommander Service or its Third Parties, or which may expose
        SeniorCommander, our
        users, or SeniorCommander's Third Parties to any harm or liability of any type.
    </li>
</ol></p>
<h2>10. Terms and Conditions of Use Modifications</h2>
<p>SeniorCommander may, at our discretion, revise, change,
    modify, add or remove portions of these Terms and Conditions of Use at any time without notice. By using the
    SeniorCommander
    Service you are agreeing to be bound by the then current version of these Terms and Conditions of Use. Notice of
    such changes will be provided by updating the "Last Modified" date above. Please check these Terms and Conditions of
    Use periodically for those changes. Your continued use of the SeniorCommander Service after the posting of changes
    constitutes your binding acceptance of such changes. For any material changes to these Terms and Conditions of Use,
    such amended terms will automatically be effective thirty days after they are initially posted on the
    SeniorCommander
    Service.</p>
<h2>11. Governing Law</h2>
<p>
    These Terms of Use will be governed by the laws of the Province of Alberta and the federal laws of Canada applicable
    therein. These laws apply to your access to or use of the Platform or the Content, notwithstanding your domicile,
    residency or physical location. The Platform and the Content are intended for use only in jurisdictions where they
    may lawfully be offered for use.
</p>
<p>
    Except as restricted by applicable law, you hereby consent to the exclusive jurisdiction and venue of courts in
    Edmonton, Alberta, Canada in all disputes arising out of or relating to the use of the Platform or the Content.
</p>
<h2>12. Indemnification</h2>
<p>You agree to indemnify, defend, and hold harmless SeniorCommander, its affiliated
    companies, contractors, employees, agents and its third-party suppliers, licensors, and partners from any claims,
    losses, damages, liabilities, including legal fees and expenses, arising out of your use or misuse of the
    SeniorCommander
    Service, any User Content you post, store or otherwise transmit in or through the SeniorCommander Service, your
    violation of
    the rights of any third party, any violation by you of these Terms and Conditions of Use, or any breach of the
    representations, warranties, and covenants made by you herein. SeniorCommander reserves the right, at your expense,
    to
    assume the exclusive defense and control of any matter for which you are required to indemnify SeniorCommander, and
    you
    agree to cooperate with SeniorCommander’s defense of these claims. SeniorCommander will use reasonable efforts to
    notify
    you of any such claim, action, or proceeding upon becoming aware of it. The forgoing indemnity includes, without
    limitation, any claims, losses, damages, liabilities, including legal fees and expenses, arising out of your access
    to the SeniorCommander Service.</p>
<h2>13. Publicity</h2>
<p>You agree that SeniorCommander may use your company, organization, or product name and/or logo in presentations,
    marketing materials, customer lists, financial reports, website listings of customers, research and marketing case
    studies and other marketing-related activities. You may not issue
    any public announcement regarding your use of the SeniorCommander Service which suggests partnership with
    SeniorCommander
    without SeniorCommander's prior review and written approval, at SeniorCommander's sole discretion.</p>
<h2>14. Contributions</h2>
<p>
    By making an online monetary transaction to the SeniorCommander Service ("Contribution")
    through its
    third party payment service ("the Payment Service", "PayPal"), you represent and warrant that:
<ol>
    <li>once a Contribution is made, the transaction is final and cannot be disputed or reversed unless it was made
        fraudulently;
    </li>
    <li>if you become aware of any fraudulent use of your debit card, credit card or Payment Service account, you will
        report this to your card operator or to the Payment Service in accordance with their reporting rules;
    </li>
    <li>you agree to provide full information, on request or otherwise, that will allow SeniorCommander to verify your
        identity or the details which you have given us;
    </li>
    <li>you are a User who can legally make a Contribution;</li>
    <li>SeniorCommander reserves the right to refuse, terminate or cancel a Contribution, at any time in its sole
        discretion;
    </li>
    <li>any imaginable service, benefit or effect from a Contribution may change, or be revoked by SeniorCommander at
        any
        time without notice;
    </li>
    <li>SeniorCommander may impose an additional transaction fee, which will be applied to transactions from the Payment
        Service during the process of a Contribution;
    </li>
    <li>once a Contribution is made, SeniorCommander will have fully satisfied its obligation to deliver or otherwise
        provide any service, benefit or effect imagined by making the Contribution final; and
    </li>
    <li>you are responsible for any applicable sales or use tax, duties, or other governmental taxes or fees payable in
        connection with the Contribution. If you do not pay such sales or other tax or fee on the Contribution, you will
        be responsible for such taxes or fees in the event that they are later determined to be payable on such sale,
        and SeniorCommander reserves the right to collect such taxes or other fees from you at any time.
    </li>
</ol></p>
<h2>15. Miscellaneous</h2>
<h3>Editor Privileges</h3>
<p>By granting a company, entity, or organization (collectively, a "subscribing organization") access to Content
    on the SeniorCommander Service meant primarily to be accessed by you ("Editor Privileges"), you represent
    and warrant
    that such subscribing organization:
<ol>
    <li>are accessing the SeniorCommander Service on your behalf;</li>
    <li>are an authorized representative of yourself with the authorithy to bind such organization to these
        Terms and Conditions of Use;
    </li>
    <li>has read these Terms and Conditions of Use;</li>
    <li>understand these Terms and Conditions of Use; and</li>
    <li>agree to these Terms and Conditions of Use.</li>
</ol>
</p><p>Further, you acknowledge that you are liable for any damages (including, without limitation, damages for
    loss of data or profit, or due to business interruption,) arising out of the subscribing organization's use
    or inability to use the materials on the SeniorCommander Service or through its Third Parties.</p>
<h3>Waiver</h3>
<p>The failure of SeniorCommander to exercise or enforce any right or provision of these Terms and Conditions of
    Use will not constitute a waiver of such right or provision.</p>
<h3>Headings</h3>
<p>The heading references herein are for convenience purposes only, do not constitute a part of these Terms and
    Conditions of Use, and will not be deemed to limit or affect any of the provisions hereof.</p>
</ol>

{% endblock %}