body { color: #73879C; }

/* Primary Layout */
#wrapper { padding-left:250px;}
#sidebar-wrapper { width:250px; position:fixed; left:250px; height:100%; margin-left:-250px; overflow-y:auto; background:#2a3f54;}
#page-content-wrapper {width:100%; position:relative; }
.navbar{margin-bottom:10px;}
.nav-tabs { margin-bottom:10px;}
.page-header {margin-top:20px;}

/* Sidebar */
h1#brand{background:#172D44; color:#eee; margin-top:0; padding:14px 0; font-size:24px; text-align:center; }
#sidebar-wrapper .nav-pills>li>a { color: #dedede; border-radius:0;}
#sidebar-wrapper .nav-pills>li.active>a, #sidebar-wrapper .nav-pills>li.active>a:focus, #sidebar-wrapper .nav-pills>li.active>a:hover { background-color:#34485c; border-right:6px solid #1abb9c;}
#sidebar-wrapper .nav>li>a:focus, #sidebar-wrapper .nav>li>a:hover {background-color:#34485c;}
.sidebar-header { padding: 15px 5px; text-transform:uppercase; font-size:12px; }

/* Panel styling */
.panel-success {border-color: #74a59b;}
.panel-success>.panel-heading {background-color:#1abc9c; border-color:#74a59b; color:#fff;}

/* User */
.points { font-size:50px; font-weight:bold; text-align:center; }
.points-description { text-align:center; }

/* Highlights */
.highlight {background:#f5f5f5; padding:10px 10px 2px 10px; border-bottom:1px dotted #ccc;}
.highlight-name { font-weight:bold; font-size:18px;}
.highlight-description {font-size:12px; text-align:right; text-transform:uppercase;}

/* Betting */
.betting-option {font-weight:bold;}