{% extends 'grid' %}

{% block 'table' %}
    <tr>
        <th>Trigger</th>
        <th>Message</th>
        <th>Implementation</th>
        <th>Cooldown</th>
        <th>Enabled</th>
        <th>Access Level</th>
    </tr>
    {% for command in page %}
        <tr>
            <th>{{command.trigger}}</th>
            <td>{{command.message}}</td>
            <td>{{command.implementation}}</td>
            <td>{{command.cooldown}}</td>
            <td>{{command.enabled}}</td>
            <td>{{command.accessLevel}}</td>
        </tr>
    {% endfor %}
{% endblock %}