{% extends 'grid' %}

{% block 'table' %}
    <tr>
        {{ header(page, 'Name', 'name') }}
        {{ header(page, 'Points', 'points') }}
        {{ header(page, 'Member Since', 'firstSeen') }}
        {{ header(page, 'Last Chatted', 'lastChatted') }}
    </tr>
    {% for user in page %}
        <tr>
            <th>{{user.name}}</th>
            <td>{{user.points}}</td>
            <td>{{user.firstSeen | date('yyyy-MM-dd')}}</td>
            <td>{{user.lastChatted | date('yyyy-MM-dd')}}</td>
        </tr>
    {% endfor %}
{% endblock %}