{% extends 'grid' %}

{% block 'table' %}
    <tr>
        {{ header(page, '#', 'communitySequence') }}
        {{ header(page, 'Content', 'content') }}
        {{ header(page, 'Author', 'author') }}
        {{ header(page, 'Date', 'createdDate') }}
    </tr>

    {% for quote in page %}
    <tr>
        <th>{{quote.communitySequence}}</th>
        <td>{{quote.content}}</td>
        <td>{{quote.author}}</td>
        <td>{{quote.createdDate | date('yyyy-MM-dd')}}</td>
    </tr>
    {% endfor %}
{% endblock %}