{% extends 'community' %}

{% block 'tab-content' %}

<table class="table table-bordered table-striped">
    <tr><th>#</th><th>Content</th><th>Author</th><th>Date</th></tr>
    {% for quote in quotes %}
        <tr><th>{{quote.communitySequence}}</th><td>{{quote.content}}</td><td>{{quote
            .author}}</td><td>{{quote.createdDate | date('yyyy-MM-dd')}}</td></tr>
    {% endfor %}
</table>

<nav>
    <ul class="pager">
        <li class="previous"><a href="?page={{ page - 1}}"><span aria-hidden="true">&larr;</span> Newer</a></li>
        <li class="next"><a href="?page={{ page + 1 }}">Older <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>

{% endblock %}